/*Page colors*/
nav ul li{display:inline;}
#page1{background:#222A35;color:#F8FAFC}
#page2,#page4,#page5{background:#222A35}
#page6{background:#222A35;width:80vw;height:80vh}

/*CSS for responsive menu*/
#hamIcon{display:none;}
@media screen and (max-width:1000px){
/*make a menu items vertical*/
 nav ul li{display:block;}
 
/* unhide menu icon */
 #hamIcon{display:block;} 

/*hide the menu item list*/
 nav ul{display:none;} 
}

/*to unhide menu items*/
.menuShow{display:block;} 


/*background image*/
body{ /*Global Settings*/
	background-image: url("../images/backgroundPC.png");
	background-size:cover;
	background-position:center;
	
	color:#F8FAFC;
}

/*Title*/
header h1{background:#222A35;text-align:center}
header img{width:5vw;height:auto;margin:0.1em}
header p{font-size:1rem;font-weight:normal;text-align:center;margin:0.1em}

/*Header box*/


/*Navigation box/section*/
nav{background:#161B22;height:auto;padding:0.5em;text-align:center;}
nav li button{background:#2F6BFF;border-radius:1em;height:2.5em;transition: transform 0.3s ease;}
nav li button:hover{background:#1FB6FF;transform: scale(1.1);}

/*FoR All Pages*/
section.page{padding:2em}


/*HOME PAGE*/
section#page1 h1{text-align:center;}

.sub1 , .sub2, .sub3, .sub4, .sub5, .sub6{background:#2D3748;margin:1em;}

/*PC parts explained Page*/
.list1{background:#2D3748;margin:1em;}

/*How to build page */

/*Tips*/
/*Tips-  make the button nicer*/
.tipsbtn{background:#2F6BFF;border-radius:1em;}
.tipsbtn:hover{background:#1FB6FF;}

/*Game Page*/

/*Image: */
#dustId{position: relative;width:10vw}
.dustEnemy{width:100%;height:auto;}