/*Page colors*/

nav ul li{display:inline;}
#page1{background:#222A35;color:#F8FAFC}
#page2{background:#222A35}
#page3{background:#222A35}
#page4{background:#222A35}
#page5{background:#222A35}

/*CSS for responsive menu*/
#hamIcon{display:none;}
@media screen and (max-width:800px){
/*make a menu items vertical*/
 nav ul li{display:block;}
 
/* unhide menu icon */
 #hamIcon{display:block;} 

/*hide the menu item list*/
 nav ul{display:none;} 
}

/*to unhide menu items*/
.menuShow{display:block;} 



/*background image*/
body{ /*Global Settings*/
	background-image: url("../images/backgroundPC.png");
	background-size:cover;
	background-position:center;
	
	color:#F8FAFC;
}

/*Title*/
header h1{background:#222A35}

/*Header box*/
header{text-align:center;}

/*Navigation box/section*/
nav{background:#222A35;height:auto;padding:0.5em;}


